@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-purple: #7B1FA2;
  --primary-white: #ffffff;
  --secondary-white: #EECFFC;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --primaryPurple: var(--primary-purple);
  --primaryWhite: var(--primary-white);
  --secondaryWhite: var(--secondary-white);
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family:'Nunito', Arial, Helvetica, sans-serif;
}
